<ion-header>
  <ion-toolbar>
    <ion-title>Cambiar mi contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-card-header class="gradiente">
      <ion-card-title>
        <center>Cambiar contraseña</center>
      </ion-card-title>
    </ion-card-header>


  </ion-card>

  <ion-card>

    <ion-card-header>
      <ion-title>
        <center><ion-icon style="font-size: 50px;" name="key"></ion-icon></center>
      </ion-title>
    </ion-card-header>


    <ion-card-content>

      <center><ion-label position="stacked">¿Estas seguro de esta accion?</ion-label></center>

      <br>

      Cambiar su contraseña de manera definitiva 
      cerrará de todos los dispositivos su cuenta
      de TeLlevoApp.

      <br>

      <form [formGroup]="formChangePassword">

        <ion-item>
          <ion-label position="floating">Nueva password</ion-label>
          <ion-input formControlName="passUser" placeholder="password" type="password"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Repita su password</ion-label>
          <ion-input formControlName="checkPassUser" placeholder="password" type="password"></ion-input>
        </ion-item>
        <br>

        <ion-button (click)="checkDesition()" expand="full" shape="round" [disabled]="formChangePassword.invalid">Cambiar</ion-button>

      </form>

    </ion-card-content>

  </ion-card>

    
  <ion-fab horizontal="end" vertical="bottom" slot="fixed">

    <ion-fab-button color="dark">
      <ion-icon name="cog" ios="chevron-up-circle-outline"></ion-icon>
    </ion-fab-button>

    <ion-fab-list side="top">

      <a routerLink="/delete-user/{{email}}">
        <ion-fab-button color="light">
          <ion-icon  name="close-circle-outline"></ion-icon>
        </ion-fab-button>
      </a>

      <a routerLink="/change-password/{{email}}">
        <ion-fab-button color="light">
          <ion-icon  name="key"></ion-icon>
        </ion-fab-button>
      </a>

      <a routerLink="/home/{{email}}">
        <ion-fab-button color="light" >
          <ion-icon  name="home"></ion-icon>
        </ion-fab-button>
      </a>

      <a [routerLink]="['/login']">
        <ion-fab-button color="light" >
          <ion-icon  name="exit"></ion-icon>
        </ion-fab-button>
      </a>


    </ion-fab-list>
  </ion-fab>

</ion-content>
